body {
  background: rgb(242, 233, 198);
}

a {
  color: #0a8dad;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  font-size: 70px;
  padding: 10px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #901603;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}
