body {
  background: rgb(216, 164, 140);
}

a {
  color: #00175f;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.Dictionary {
  font-size: 80px;
  margin: 0 auto;
}

.App-logo {
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid whitesmoke;
}
.App-header {
  margin: 30px 0;
  padding: 10px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  color: rgb(75, 34, 34);
  border-radius: 50%;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}
