.Search section {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  margin: 20px 0;
  box-shadow: 0 10px 10px rgb(0, 0, 0 /10%);
}

.Search input {
  width: 100%;
  padding: 6px 4px;
  border-radius: 6px;
  color: #333;
  border: 1px solid #ddd;
}

.Search hint {
  font-size: 11px;
  margin-top: 5px;
}
